<div class="container">
  <div class="content">
    <app-header></app-header>
    <h1 class="tittle">
      Cadastrar
    </h1>
    <a [routerLink]="['/login']">Já tem uma conta?</a>

    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <fieldset>
        <input class="input-user" type="text" placeholder="Usuario" formControlName="username">
        <input class="input-email" type="email" placeholder="Email" formControlName="email">
        <input class="input-pass" type="password" placeholder="Senha" formControlName="password">
        <ng-container *ngIf="state$ | async as state">
          <button class="input" id="button" type="submit"
            [ngStyle]="{'background-color': state.isLoading ? 'gray' : 'green'}"
            [disabled]="!formGroup.valid || state.isLoading"
            >Cadastrar</button>


            <div id="error">{{state.cadastroRequestStatus === 'error' ? 'Usuario ou email já utilizado.' : ''}}</div>
            <div id="loading">{{state.isLoading? 'carregando...' : ''}}</div>

        </ng-container>
      </fieldset>

    </form>
  </div>
</div>